body {
  font-family: Arial, Helvetica, sans-serif;
}
.main > div {
  color: #636060;
  font-size: 17px;
  font-weight: 400;
  margin-top: 33px;
  margin-right: 78px;
  font-family: "Roboto", sans-serif;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space;
}
.image {
  background-image: url(../image/img1.jpg);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 606px;
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}
.Discover {
  position: absolute;
  font-size: 79px;
  font-weight: 700;
  color: #ffffff;
  display: inline-block;
}
.TRAVEL {
  font-size: 19px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 140px;
}
.section {
  margin-top: 31px;
}
.text {
  display: inline-block;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  width: 286px;
}
.section2 {
  margin-top: 84px;
}
.discover {
  font-size: 17px;
  font-weight: 400;
  color: #636060;
  display: inline-block;
  margin-bottom: 9px;
}
.discover2 {
  font-size: 28px;
  font-weight: 400;
  color: #010101;
  display: inline-block;
  margin-bottom: 37px;
}
.discover3 {
  font-size: 20px;
  font-weight: 400;
  color: #636060;
  display: inline-block;
  width: 240px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  width: 950px;
  gap: 33px;
}

.card {
  width: 286px;
}

.card img {
  width: 100%;
}

.thing {
  color: #343232;
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-top: 23px;
  margin-bottom: 9px;
  width: 100%;
}
.BOOKING {
  width: 299px;
  color: #636060;
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin-bottom: 56px;
  width: 100%;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
i {
  display: none !important;
  font-size: 24px;
}
.icon {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  margin-top: 14px;
}
@media only screen and (max-width: 750px) {
  .Discover {
    font-size: 60px;
  }
}
@media screen and (max-width: 883px) {
  .card {
    width: 100%;
    flex-direction: column;
  }
  .thing {
    font-size: 40px;
  }
  .BOOKING {
    font-size: 30px;
  }
  .cards {
    margin: 0aouto;
    width: 80%;
    margin-left: 10%;
  }
}
@media screen and (max-width: 750px) {
  .image {
    width: 100%;
  }
}
@media only screen and (max-width: 750px) {
  i {
    display: inline-block !important;
  }
}
@media only screen and (max-width: 750px) {
  nav {
    display: none;
  }
}
@media only screen and (max-width: 883px) {
  .text {
    display: none;
  }
}
